/*.rt-login #main {
    margin: 0;
}

#col3, .ym-col3 {
    margin: 0;
}

body.rt-login {
    background: none;
}*/

@media (max-width: 480px) {
    body.rt-login{
        padding-top: 0;
    }
    .rt-login .page_margins{
        width: 330px;
    }
    .page_margins{
        width: 320px;
    }
    .rt-login #main{
        margin-top: 20px;
    }
    .rt-login .col-md-9, .rt-login .col-xs-12{
        padding-left: 0;
        padding-right: 0;
    }
    .rt-login #loginForm{
        margin-left: -5px;
    }

    .rt-login #loginForm {
        background: url("/cmspilotv30/CP/www/themes/Manager/images/login/plate_mobile.png") no-repeat scroll 0 0 transparent;
        width: 320px;
        height: 458px;
        padding: 10px;
    }
    .rt-login .loginType {
        width: 328px;
        margin: 148px 25px 3px;
        height: 32px;
    }
    .w-member-loginForm .ym-columnar div.ym-fbox-text input,
    .w-member-loginForm .columnar div.type-text input {
        width: 45.2%;
        border:0;
        height:18px;
        margin-left:96px;
        margin-top: 3px;
    }
    .w-member-loginForm .columnar div.row_pass_word input {
        margin-top: 5px;
    }
    .saveLogin{
        position: absolute;
        top:75px;
        left: 0px;
    }
    .resetPasswordLink{
        position: absolute;
        top:105px;
        left: 17px;
    }
    .emailLink {
        padding: 20px 0 0 6px;
        position: absolute;
        top:108px;
    }

    .rt-login .ym-form .ym-fbox-button input[type="submit"],
    .rt-login .yform .type-button input[type="submit"] {
        background: url("/cmspilotv30/CP/www/themes/Manager/images/login/enterA_mobile.png") no-repeat scroll 0 0 transparent;
        height: 31px;
        width: 60px;
        border: 0;
        margin-top: 15px;
        margin-right: 95px;
    }

    .rt-login .yform .type-button input[type="submit"]:hover {
        background: url("/cmspilotv30/CP/www/themes/Manager/images/login/enterB_mobile.png") no-repeat scroll 0 0 transparent;
        height: 31px;
        width: 60px;
    }
    .rt-login #loginForm .archiveEnter {
        width: 60px;
        margin: 65px 8px 0px 0px;
        float:right;
    }
    .rt-login .yform fieldset {
        background: none;
        width: 373px;
        padding: 10px 0 17px 10px;
        border: 0;
    }
}