@charset "UTF-8";

/******************* HOME ********************/
@media all
{
    body {
        background: url("images/sky.jpg") repeat-x #F7FBFE;
    }
    
    .page_margins {
        width: 900px;
        background: transparent;
    }
    
    #header {
        background: url("images/header.jpeg") no-repeat scroll 0 0 transparent;
        height: 155px;
        color: #fff;
    }

    #logo {
        top: 40px;
        width: 350px;
    }

    .topMost {
        background: url("images/topbar.gif") no-repeat scroll 0 0 transparent;
        height:29px;
        width: 900px;        
    }
    
    .topMost.hlist ul li a {
        background: none;
        color: #000;
        font-size: 14px;
        padding: 0;
    }
    
    .topMost.hlist ul li.active {
        background: none;
        border-right: 0 none;
        padding-right: 0;
    }

    .topMost.hlist ul li, .topMost.hlist ul li.last {
        border-right: 0;
    }
    
    .topMost.hlist ul li, .topnav ul li {
        border-right: 0;
        padding-top: 6px;
    }
        
    .topMost.hlist ul li.active a {
        color: red;
    }    
    
    .topMost.hlist ul li a:hover {
        background: none;
    } 
        
    .topMost.hlist ul {
        padding-left: 100px;
    } 

    #main {
        min-height: 400px;
    }

    #footer {
        background: url("images/footer.jpg") no-repeat scroll 0 0 transparent;
        color: #fff;
    }

    #footer a {
        color: #fff;
    }
    
    #col1 {
        background: url("images/col1-bg.gif") no-repeat scroll 0 0 transparent;
        height:365px;
        width: 250px;
        margin: 10px 10px 0 10px;
    }    
    
    #col2 {
        width: 170px;
    }
    
    #col3 {
        margin: 0 170px 0 250px;
    }
    
    .hideboth #col3_content {
        padding: 15px;
    }
    
    .loginInfoText a {
        color: #fff;
        border: 1px solid #fff;
        padding: 5px;
        margin-left: 5px;
    }

    #nav {
        border-bottom: 0;
        border-top: 0;
        margin: 2px 0;
    }
    
    #nav ul {
        margin: 15px 0 0 135px;
    }
    
    #nav .hlist {
      /*  background: url("images/header2.gif") repeat-x scroll 0 0 transparent; */
        background: none;
    }
    
    #nav2 .navPanel{
        background: url("images/nav_panel.gif") no-repeat scroll 0 0 transparent;
        margin: 0 0 10px 10px;
        width: 460px;
        height: 90px;
    }
    
    #nav2 .listTitle {
        margin: 15px 0 0 20px;
        color: red;
        font-weight: bold;
        font-size: 14px;
    }

    .hlist ul li.active {
        background: url("images/menu-act.gif") no-repeat scroll 0 0 transparent;
        width: 107px;
        height: 42px;
        border-right: 0;
        padding-right: 25px;
    }
    
    .hlist ul li.active a {
        color: red;
    }    

    .hlist ul li, .hlist ul li.last {
        border-right: 0;
    }

    .hlist ul li a:hover {
        background: url("images/menu-act.gif") no-repeat scroll 0 0 transparent;
        width: 107px;
        height: 42px;
    }
    
    .hlist ul li a {
        background: url("images/menu.gif") no-repeat scroll 0 0 transparent;
        width: 107px;
        height: 42px;
        font-size: 16px;
        padding: 0.3em 0.8em;
    }

    .hlist.actionBtns {
        background: none repeat scroll 0 0 transparent;
        color: #000000;
        width: auto;
        position: static;
    }  

    .pagelinks {
        width: 135px;
        margin: 10px 0 0 15px;
    }

    .pagelinks .linkNos {
        width: 120px;
        display: none;
    }

    .pagelinks .totalRecs {
        display: none;
    }

    .pagelinks .preBtn {
        background: url("images/prev-btn.gif") no-repeat scroll 0 0 transparent;
        height: 27px;
        width: 55px;
        padding: 5px 0 0 12px;
    }
    
    .pagelinks .nxtBtn {
        background: url("images/prev-btn.gif") no-repeat scroll 0 0 transparent;
        height: 27px;
        width: 55px;
        padding: 5px 0 0 12px;
    }

    .pagelinks span.noLink {
        color: #000;
    }    

    body.loggedin #main {
        background: transparent;
        padding: 0;
    }
    
    body.loggedin .hideboth #col3_content {
        padding:0 0;
    }
    
    .linkPortalWrapper {
        background: #F4F4F4;
    }
    
    .v-detail .col3Body {
        margin-top: 2px;
    }
    
    .v-edit #nav2 {
        display: none;
    }
    
    .cpSearch {
        margin: 13px 0 0 10px;
        overflow: hidden;
    }    
    
}

/*************** ACTIONS ICONS ************/
@media all
{
    .actionBtns.hlist ul li {
        border-right: 0;
        margin-right: 0;
    }

    .actionBtns.hlist ul li a, .actionBtns.hlist ul li.last a {
        display: block;
        line-height: 16px;
        padding: 7px 0 0 26px !important;
        font-weight: normal;
        color: #fff;
        background: transparent;
    }

    a#actBtn_edit {
        background:transparent url('images/action/edit.png') no-repeat 0 0;
    }

    a#actBtn_cancelNew{
        background:transparent url('images/action/save.gif') no-repeat 0 0;
        height: 32px;
        width: 88px;
        color: #15A143;
        font-weight: bold;
        font-size: 14px;
        margin-top: 10px;
    }

    a#actBtn_addNew {
        background:transparent url('images/action/save-continue.gif') no-repeat 0 0;
        height: 32px;
        width: 154px;
        color: #000;
        font-weight: bold;
        font-size: 14px;
        margin: -40px 0 0 280px;
    }

    a#actBtn_changePassword {
        background:transparent url('images/action/password.png') no-repeat 0 0;
    }
    
    a#actBtn_new {
        background: url("images/action/save.gif") no-repeat scroll 0 0 transparent;
        height: 32px;
        width: 88px;
        color: #15A143;
        font-weight: bold;
        font-size: 14px;
        margin: 6px 10px 0 190px;
    } 
    
    .v-edit #nav2 {
        display: inline;
    } 
    
    a#actBtn_cancel {
        background: url("images/action/back.gif") no-repeat scroll 0 0 transparent;
        width: 439px;
        height: 31px;
        text-align: center;
        color: #15A143;
        font-weight: bold;
        font-size: 13px;
    }   
    
    a#actBtn_save {
        background: url("images/action/save.gif") no-repeat scroll 0 0 transparent;
        height: 32px;
        margin-top: 10px;
        width: 88px;
        color: #15A143;
        font-weight: bold;
        font-size: 13px;
    }          

    a#actBtn_delete {
        background: url("images/action/save.gif") no-repeat scroll 0 0 transparent;
        height: 32px;
        margin-top: -77px;
        width: 88px;
        font-weight: bold;
        font-size: 13px;
        color: #000;
    } 
    
    .v-edit #nav2 .hlist.noBg ul li.last {
        border-right: 0 none;
        float: right;
        margin-left: 15px;
    } 
    
    .v-edit .col3Body .yform {
        width: 438px;
    }
                
    .v-new .ym-col3 .yform {
        width: 438px;
    }
                
}