#header {
    background: url("images/kite_banner.jpg") no-repeat scroll 0 0 transparent;
    height: 178px;
}

/*.m-edukiteWeb_notice .productDetail .galleria-info {
	width: 45%;
	left:480px;
}

.m-edukiteWeb_notice .productDetail .galleria-container {
	min-width: 900px;
}

.m-edukiteWeb_notice .productDetail .galleria-container img {
	max-width: 450px !important;
	left:0 !important;
}

.m-edukiteWeb_notice .productDetail .galleria-info-text {
	opacity: 0.8;
}

.m-edukiteWeb_notice .productDetail .galleria-image-nav-right {
    left: 375px;
    right: auto;
    z-index: 2;
    opacity:1;
    top:0px;
}

.productDetail .galleria-info-title p{
    font-weight: normal;
    height: 290px;
    overflow: auto;
    font-family: Verdana;
    padding-right: 5px;
}

.m-edukiteWeb_notice .productDetail .galleria-info-title {
    margin: 23px 0 7px;
	border:5px solid #457EB6;
	border-radius: 8px;
	padding: 10px 5px 10px 10px;
    height: 347px;
}*/

/*.m-edukiteWeb_notice .galleria-info-title {
    display: none !important;
}

.m-edukiteWeb_notice .productDetail .galleria-container {
    left: 161px;
}

.m-edukiteWeb_notice .productDetail {
    margin: 0 30px;
}

.m-edukiteWeb_notice .productDetail h1 {
    color: #457EB6;
}

.m-edukiteWeb_notice.v-detail #header ,
.m-edukiteWeb_notice.v-detail .parentLounge ,
.m-edukiteWeb_notice.v-detail .pto ,
.m-edukiteWeb_notice.v-detail .contactSchool ,
.m-edukiteWeb_notice.v-detail .edukiteIcon {
    display: none;
}

.m-edukiteWeb_notice.v-detail .header {
    background: url("images/detail-banner.png") no-repeat scroll 0 0 transparent;
    width: 762px;
    height: 86px;
}

.m-edukiteWeb_notice.v-detail .page_margins {
    width: 762px;
}

.m-edukiteWeb_notice.v-detail  #col3_content,
.m-edukiteWeb_notice.v-detail .ym-cbox {
    padding:0;
}

.returnHome a, .returnHome a:hover{
    background: url("images/detail-close.png") no-repeat scroll 0 0 transparent;
    left: 280px;
    position: absolute;
    top: 28px;
    width:202px;
    height: 34px;
    color: transparent;
}

.m-edukiteWeb_notice.v-detail #footer {
    background: url("images/detail-footer.png") no-repeat scroll 0 0 transparent;
    color: transparent;
}*/


/*    .popcontents .galleria-info-text {
        background-color: #ffffff;
        display: block !important;
        padding: 0px;
    }

    .popcontents .galleria-info-description {
        display: none !important;
    }

    .popcontents .galleria-info-title, .m-edukiteWeb_notice .galleria-info-title {
        color: #222222;
        font-weight: normal;
        height: 305px;
        overflow: auto;
        font-family: Verdana;
        padding-right: 10px;
        display: block !important;
    }

    .galleria-image-nav-left {
        left: 0 !important;
        opacity: 1;
        top: 0;
    }

    .galleria-image-nav-right {
        left: auto;
        opacity: 1;
        right: -30px !important;
        top: 0;
        z-index: 2;
    }

    .popUpContent .galleria-info {
        display: block;
        position: absolute;
        left:0px;
        top: 475px;
        width: 100%;
    }

    .popUpContent .galleria-container {
        min-height:780px;
        top:0;
    }

    .popUpContent .galleria-container img {
        top: 0 !important;
    }

    .popUpContent .galleria-image-nav {
        height: 62px;
        left: 0;
        margin-top: 0px;
        position: absolute;
        top: 25%;
        width: 100%;
    }

    .popUpContent .galleria-image-nav-left {
    }

    .popUpContent .galleria-image-nav-right {
    }

*/

@media (max-width: 480px) {
    body.rt-login{
        padding-top: 0;
    }
    .rt-login .page_margins{
        width: 330px;
    }
    .page_margins{
        width: 320px;
    }
    .rt-login #main{
        margin-top: 20px;
    }
    .rt-login .col-md-9, .rt-login .col-xs-12{
        padding-left: 0;
        padding-right: 0;
    }
    .rt-login #loginForm{
        margin-left: -5px;
    }

    .rt-login #loginForm {
        background: url("/cmspilotv30/CP/www/themes/Manager/images/login/plate_mobile.png") no-repeat scroll 0 0 transparent;
        width: 320px;
        height: 458px;
        padding: 10px;
    }
    .rt-login .loginType {
        width: 328px;
        margin: 148px 25px 3px;
        height: 32px;
    }
    .w-member-loginForm .ym-columnar div.ym-fbox-text input,
    .w-member-loginForm .columnar div.type-text input {
        width: 45.2%;
        border:0;
        height:18px;
        margin-left:96px;
        margin-top: 3px;
    }
    .w-member-loginForm .columnar div.row_pass_word input {
        margin-top: 5px;
    }
    .saveLogin{
        position: absolute;
        top:75px;
        left: 0px;
    }
    .resetPasswordLink{
        position: absolute;
        top:105px;
        left: 17px;
    }
    .emailLink {
        padding: 20px 0 0 6px;
        position: absolute;
        top:108px;
    }

    .rt-login .ym-form .ym-fbox-button input[type="submit"],
    .rt-login .yform .type-button input[type="submit"] {
        background: url("/cmspilotv30/CP/www/themes/Manager/images/login/enterA_mobile.png") no-repeat scroll 0 0 transparent;
        height: 31px;
        width: 60px;
        border: 0;
        margin-top: 15px;
        margin-right: 95px;
    }

    .rt-login .yform .type-button input[type="submit"]:hover {
        background: url("/cmspilotv30/CP/www/themes/Manager/images/login/enterB_mobile.png") no-repeat scroll 0 0 transparent;
        height: 31px;
        width: 60px;
    }
    .rt-login #loginForm .archiveEnter {
        width: 60px;
        margin: 65px 8px 0px 0px;
        float:right;
    }
    .rt-login .yform fieldset {
        background: none;
        width: 373px;
        padding: 10px 0 17px 10px;
        border: 0;
    }
}

.col-md-4, .col-md-6, .col-md-2{
    padding: 0;
}